@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Yuji Syuku', serif;
  color: #333;
  white-space: pre-line;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Main-header {
  margin: 2em;
  width: 95%;
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bloque-imagen {
  /* width: 35vmin; */
  height: 35vmin;
  pointer-events: none;
  /* border-radius: 50%; */
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: bounce 1s infinite;
}

.grupo {
  width: 90vmin;
  height: auto;
  pointer-events: none;
  /* border-radius: 50%; */
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.1, 0, 0.1, 0.1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.1, 0.1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dc-link {
  color: #61dafb;
}

.mainContainer {
  display: flex;
  text-align: 'center';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main {
  font-size: calc(3px + 2vmin);
  margin-bottom: 2em; 
  padding-bottom: 2em; 
}

.container {
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.unique-dc {
  padding: 1em;
  width: 100%;
}

.dc {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 1em;
  width: 70%;
}

.dci {
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  width: 30%;
}

.dci-grupo {
  display: flex;
  text-align: 'center';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-top: 1em; */
  width: 90% !important;
}

.multiText {
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1050px) {
  .App-header {
    background-color: rgba(51, 51, 51, 0.25);
    margin: 2em;
    width: 95%;
    display: flex;
    text-align: 'center';
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main {
    font-size: calc(6.5px + 2vmin);
    margin-bottom: 1.5em; 
    padding-bottom: 1.5em; 
  }

  .container {
    display: flex;
    text-align: 'center';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dc {
    padding: 0em;
    width: 100%;
  }

  .dci {
    padding: 1.5em;
    width: auto;
  }

  .bloque-imagen {
    width: 100%;
    height: 35vh;
    pointer-events: none;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .cImg {
    flex-direction: row;
  }

  .hide {
    display: none;
  }
}